<div class="home-container">
    <header class="home-header">
        <h1 class="home-title"><span style="color: #4888f0;">The Food Co.</span></h1>
        <p class="home-description">Fresh Food Delivered Now</p>
        <p class="home-instruction">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a lacus nisi. Suspendisse lacus felis, placerat vitae fermentum gravida, ornare vitae ipsum. Pellentesque quis convallis nisl. Pellentesque convallis finibus lectus ac sagittis. Nullam enim purus, sollicitudin eget sodales id, rutrum feugiat purus. Suspendisse potenti. Suspendisse et dapibus elit. Sed gravida ultrices lectus, auctor condimentum lacus pellentesque a. Nam convallis aliquam convallis. Sed lobortis cursus hendrerit. Nam consectetur neque sagittis nisi finibus, in vulputate dui auctor. Donec fringilla velit massa, at ultricies tellus semper nec. Ut mollis arcu pulvinar elit accumsan, non dapibus justo ullamcorper. Vivamus tincidunt tincidunt faucibus. Nullam gravida ornare purus sed accumsan.</p>
    </header>
</div>